@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0 auto;
  margin: 0 auto;
  outline: red solid 0px;
  font-family: Montserrat;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #EFF1FA;
}

ul {
  list-style-type: none;
  padding: 0;
}

.white-container {
  margin: 2vw;
  padding: 0;
  max-width: 100vw;
  background-color: white;
  box-shadow: 1px 1px 10px 1px #d6cfcb;
}

.border-bottom {
  max-width: 80em;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

.sidebar {
  margin-left: 0;
  margin-right: 0;
  padding: 2em;
  min-width: 170px;
  max-width: 170px;
  text-align: center;
  background-color: #CDB4DB;
}


.intro-left {
  margin-right: 5em;
}

.selfie {
  max-width: 8em;
  border-radius: 80px;
  display: block;
  margin: auto;
  gap: 2em;
}

.footer {
  padding: 2em;
  background-color: #CDB4DB;
  color: #303E46;
  font-weight: bold;
  align-items: center;
}

.footer-half {
  width: 50em;
}

.footer-half .flex {
  padding: 0 auto;
}

.left-footer {
  border-right: 1px solid black;
}

.left-footer ul {
  display: table;
  margin: 0 auto;
}

.right-footer {
  align-items: center;
}

.flex {
  display: flex;
}

.nav-link,
li {
  list-style: none;
  list-style-position: inside;
  display: block;
}

.nav-link:visited,
.nav-link:link {
  color: black;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0;
  position: relative;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 0;
  border-bottom: 1px solid black;
  margin: 0 10px;
  transition: width 0.4s ease;
}

.nav-link.active {
  font-weight: 700;
}

.nav-link::before {
  margin-right: 10px;
}

.nav-link::after {
  margin-left: 10px;
}

.nav-link {
  text-decoration: none;
}

.nav-link.active::before,
.nav-link.active::after {
  border-bottom: 2px solid;
  width: 20px;
}

.nav-link:hover::before,
.nav-link:hover::after {
  width: 20px;
}

.top-section {
  background-color: white;
  text-align: left;
  padding: 30px 1em;
}

.whole-box {
  margin: 0;
}

.coloured-background {
  background-color: #EFF1FA;
}

/* GRID VIEW FOR THE MAIN PAGE  */
.container { 
  margin: 0;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 2em 2em;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas: 
    "top-far-left top-left top-right top-far-right"
    "mid-left mid-left mid-right mid-right"
    "mid-left mid-left mid-right mid-right"
    "mid-left mid-left mid-right mid-right"
    "bottom-left bottom-middle bottom-middle bottom-right"
    "bottom-left bottom-middle bottom-middle bottom-right"
    "bottom-left bottom-middle bottom-middle bottom-right"; 
}

.top-far-left {
  grid-area: top-far-left;
  background-color: #A2D2FF;
  border-radius: 10px;
  padding: 10px;
}

.top-left {
  grid-area: top-left;
  background-color: #BDE0FE;
  border-radius: 10px;
  padding: 10px;
}

.top-right {
  grid-area: top-right;
  background-color: #FFC8DD;
  border-radius: 10px;
  padding: 10px;
}

.top-far-right {
  grid-area: top-far-right;
  background-color: #FFAFCC;
  border-radius: 10px;
  padding: 10px;
}

.mid-left {
  grid-area: mid-left;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.mid-right {
  grid-area: mid-right;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}


.bottom-left {
  grid-area: bottom-left;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.bottom-middle {
  grid-area: bottom-middle;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.bottom-right {
  grid-area: bottom-right;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.top-far-left:hover,
.top-left:hover,
.top-right:hover,
.top-far-right:hover,
.mid-left:hover,
.mid-right:hover,
.bottom-left:hover,
.bottom-middle:hover,
.bottom-right:hover {
  box-shadow: 1px 1px 10px 1px #d6cfcb;
}

.todo-card {
  border: 1px solid black;
  border-radius: 10px;
  margin: 1em;
  padding: 10px;
}