@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0 auto;
  margin: 0 auto;
  outline: red solid 0px;
  font-family: Raleway;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(239,239,239);
}

ul {
  list-style-type: none;
  padding: 0;
}

.white-container {
  margin: 2vw;
  padding: 0;
  max-width: 100vw;
  background-color: white;
  box-shadow: 1px 1px 10px 1px #d6cfcb;
}

.border-bottom {
  max-width: 80em;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

.sidebar {
  margin-left: 0;
  padding: 2em;
  width: 30em;
  text-align: center;
  background-color: #FFC8DD;
}


.intro-left {
  margin-right: 5em;
}

.selfie {
  max-width: 10em;
}

.footer {
  padding: 2em;
  background-color: #CDB4DB;
  color: #303E46;
  font-weight: bold;
  align-items: center;
}

.footer-half {
  width: 50em;
}

.footer-half .flex {
  padding: 0 auto;
}

.left-footer {
  border-right: 1px solid black;
}

.left-footer ul {
  display: table;
  margin: 0 auto;
}

.right-footer {
  align-items: center;
}

.flex {
  display: flex;
}

.nav-link,
li {
  list-style: none;
  list-style-position: inside;
}

.nav-link:visited,
.nav-link:link {
  color: black;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0;
  position: relative;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 0;
  border-bottom: 1px solid black;
  margin: 0 10px;
  transition: width 0.4s ease;
}

.nav-link.active {
  font-weight: 900;
}

.nav-link::before {
  margin-right: 10px;
}

.nav-link::after {
  margin-left: 10px;
}

.nav-link {
  text-decoration: none;
}

.nav-link.active::before,
.nav-link.active::after {
  border-bottom: 2px solid;
  width: 20px;
}

.nav-link:hover::before,
.nav-link:hover::after {
  width: 20px;
}

.top-section {
  background-color: white;
  text-align: left;
  padding: 30px 1em;
}


/* GRID VIEW FOR THE MAIN PAGE */
.container {
  margin: 0;
  padding: 1em;
  background-color: #EFF1FA;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "top-left top-left top-right top-right"
    "top-left top-left top-right top-right"
    "top-left top-left top-right top-right"
    "mid-far-left mid-left mid-right mid-far-right"
    "bottom-left bottom-middle bottom-middle bottom-right"
    "bottom-left bottom-middle bottom-middle bottom-right"
    "bottom-left bottom-middle bottom-middle bottom-right";

}

* {
  outline: 0px red solid;
}

.top-left {
  grid-area: top-left;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.top-right {
  grid-area: top-right;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.mid-far-left {
  grid-area: mid-far-left;
  background-color: #CDB4DB;
  border-radius: 10px;
  padding: 10px;
}

.mid-left {
  grid-area: mid-left;
  background-color: #FFC8DD;
  border-radius: 10px;
  padding: 10px;
}

.mid-right {
  grid-area: mid-right;
  background-color: #BDE0FE;
  border-radius: 10px;
  padding: 10px;
}

.mid-far-right {
  grid-area: mid-far-right;
  background-color: #A2D2FF;
  border-radius: 10px;
  padding: 10px;
}

.bottom-left {
  grid-area: bottom-left;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.bottom-middle {
  grid-area: bottom-middle;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.bottom-right {
  grid-area: bottom-right;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}